/* UTILS */
/* COLORS */
/* LAYOUTS */
body footer {
  padding: 0px 0px 50px 0px;
  text-align: center;
}
body footer span {
  font-size: 0.77em;
  font-family: "DM bold";
}

@media (max-width: 1025px) {
  body footer {
    padding: 50px 0px 0px 0px;
    text-align: center;
  }
  body footer span {
    font-size: 0.5em;
  }
}
.header {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 25px 0px 25px 0px;
}
.header .header__title {
  width: 25%;
  text-align: center;
  color: #901C1C;
  font-size: 3rem;
}
.header .header__title .title {
  text-decoration: none;
  font-family: "DM bold";
  letter-spacing: 1px;
}
.header .header__title .title:visited {
  color: inherit;
}
.header .header__navbar {
  width: 50%;
}
.header .photographer--page {
  width: 100%;
  text-align: left;
}

.photographer--page {
  width: 100%;
  text-align: left;
}

.tag-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding-left: 0px;
}
.tag-list .tag--static {
  margin-left: 3px;
  margin-right: 3px;
}

@media (max-width: 1272px) {
  .header {
    width: 100%;
    padding-top: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .header .header__title {
    width: 100%;
    font-size: 2.8em;
    text-align: left;
    margin-left: 15px;
  }
  .header .header__navbar {
    padding-top: 20px;
  }
  .header .tag-list {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 6px 0px;
  }
  .header .tag-list .tag--static {
    padding: 1px 4px;
  }
}
@media (min-width: 1981px) {
  .header .header__title {
    font-size: 4em;
  }
}
/* COMPONENTS */
.button--static {
  cursor: pointer;
  width: 170px;
  color: #FAFAFA;
  font-family: "Dm bold";
  font-size: 1.2em;
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
  align-self: center;
  padding: 20px 8px;
}
.button--static:hover,
.button--static :focus, .button--static:focus:not(:active) {
  background-color: #D3573C;
  transition-duration: 0.2s;
  transform: scale(1.05) translate(0%, 0%);
}

.tag--static {
  cursor: pointer;
  font-family: "DM medium";
  color: #901C1C;
  background-color: #FAFAFA;
  border: 0.2px solid lightgrey;
  border-radius: 20px;
  padding: 5px 5px;
  font-size: 0.8em;
  width: auto;
}
.tag--static:hover {
  transition: all 1s;
  color: #FAFAFA;
  background-color: #901C1C;
}

.tag--active {
  color: #FAFAFA;
  background-color: #901C1C;
}

.filter-list {
  cursor: pointer;
  width: 170px;
  color: #FAFAFA;
  font-family: "Dm bold";
  font-size: 1.2em;
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
  padding: 15px;
  appearance: none;
}

.modal-contact {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #DB8876;
  padding: 20px;
  font-size: 1.5em;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  animation-name: modalopen;
  animation-duration: var(0.8s);
}
.modal-contact .close--form {
  cursor: pointer;
  position: fixed;
  top: -35px;
  right: 20px;
  font-size: 5.5em;
  color: white;
  -webkit-text-stroke: 3px #DB8876;
}
.modal-contact p {
  font-family: "DM medium";
  letter-spacing: 2px;
  font-size: 2.3em;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}
.modal-contact .formData input,
.modal-contact .formData textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 5px;
  resize: vertical;
}
.modal-contact form {
  padding-top: 20px;
}
.modal-contact label {
  font-size: 1.5em;
  color: #202020;
}
.modal-contact .formData textarea {
  margin-bottom: 16px;
}
.modal-contact button {
  background-color: #901C1C;
  font-size: 0.8em;
  color: white;
  padding: 20px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.modal-contact button:hover {
  background-color: #45a049;
}
.modal-contact [required] {
  border: 2px dotted #901C1C;
}
.modal-contact .error {
  margin: 0;
  padding: 0;
  font-size: 0.6em;
  color: #901C1C;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1025px) {
  .modal-contact {
    height: auto;
    width: 100%;
  }
  .modal-contact p {
    font-family: "DM regular";
    font-size: 1.6em;
  }
  .modal-contact .form__button {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 60px;
  }
}
.gallery {
  padding: 50px 0px 50px 0px;
}
.gallery > label {
  font-size: 1.1em;
  font-family: "DM bold";
  padding-right: 25px;
}
.gallery .grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
  gap: 10px;
  row-gap: 30px;
}
.gallery .grid .grid-card {
  display: grid;
  color: #901C1C;
  font-size: 1.6em;
  margin-top: 0px;
  line-height: 0px;
}
.gallery .grid .grid-card:hover .card__photo {
  transition: box-shadow 0.5s ease-in;
  box-shadow: 0px 10px 8px 1px #525252;
}
.gallery .grid .grid-card .card__photo {
  grid-column: 1/5;
  grid-row: 1;
  width: 375px;
  height: 350px;
  object-fit: cover;
  border: none;
  border-radius: 5px;
}
.gallery .grid .grid-card .card__title {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  text-align: left;
}
.gallery .grid .grid-card .card__price {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  font-family: "DM medium";
}
.gallery .grid .grid-card .card__likes {
  grid-column: 3;
  grid-row: 2;
  text-align: right;
  font-family: "DM medium";
}
.gallery .grid .grid-card .fa-heart {
  color: #901C1C;
  grid-column: 4;
  grid-row: 2;
  align-self: center;
  cursor: pointer;
  border: 0px;
}

/* MODAL BG */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  /* MODAL CONTENT */
}
.modal .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 50%;
  max-width: 50%;
  /* CLOSE BUTTON */
  /* SLIDES */
  /* NEXT & PREV ARROWS */
  /* ARROW HOVER */
  /* PHOTO TITLE */
}
.modal .modal-content .close {
  color: #901C1C;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-text-stroke: 6px white;
}
.modal .modal-content .close:hover, .modal .modal-content .close:focus {
  color: #D3573C;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content .mySlides {
  display: none;
  text-align: center;
}
.modal .modal-content .mySlides img {
  height: 800px;
  width: 800px;
  object-fit: cover;
}
.modal .modal-content .cursor {
  cursor: pointer;
}
.modal .modal-content .prev,
.modal .modal-content .next {
  line-height: 0px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: #901C1C;
  font-size: 70px;
  transition: 0.6s ease-in;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  -webkit-text-stroke: 3px white;
}
.modal .modal-content .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.modal .modal-content .prev:hover,
.modal .modal-content .next:hover {
  color: #D3573C;
  transition-duration: 0.1s;
  transform: scale(1.1) translate(0%, 0%);
}
.modal .modal-content .modal__caption {
  color: #901C1C;
  font-size: 2em;
  width: 800px;
  margin: auto;
}

@media (max-width: 1025px) {
  .gallery {
    padding: 0px;
  }
  .gallery label,
.gallery select {
    display: none;
  }
  .gallery .grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
  }
  .gallery .grid .grid-card {
    width: 100%;
  }
  .gallery .grid .grid-card .card__photo {
    width: 100%;
    height: 250px;
  }
}
.lightbox__photo img,
.lightbox__photo video {
  object-fit: cover;
  height: 700px;
  width: 700px;
}

.modal-lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

.lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
}
.lightbox-content .lightbox__caption {
  color: #901C1C;
  font-size: 2em;
  margin: 0px;
}

/* The Close Button */
.close {
  color: #901C1C;
  position: absolute;
  top: -40px;
  right: -70px;
  font-size: 6em;
  font-weight: bold;
  -webkit-text-stroke: 3px white;
}

.close:hover,
.close:focus {
  color: #D3573C;
  text-decoration: none;
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin: -50px;
  color: #901C1C;
  font-size: 4em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  -webkit-text-stroke: 2px white;
}
.prev:hover,
.next:hover {
  color: #D3573C;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.cards-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cards-block .cards {
  width: 33%;
  text-align: center;
  padding-bottom: 30px;
}
.cards-block .cards:hover .photographer__photo {
  transition: box-shadow 0.5s ease-in;
  box-shadow: 0px 6px 9px 0px #525252;
}
.cards-block .cards .photographer {
  background-color: white;
}

.photographers {
  position: relative;
  padding: 100px 0px 50px 0px;
}
.photographers h1 {
  color: #901C1C;
  font-size: 2em;
  letter-spacing: 1px;
  position: absolute;
  top: -80px;
  right: 15px;
  margin-top: 0px;
}
.photographers h2 {
  color: #D3573C;
  font-size: 2em;
  letter-spacing: 1.3px;
  margin-bottom: 3px;
}
.photographers .photographer__photo {
  cursor: pointer;
  height: 230px;
  width: 230px;
  border: none;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0px 5px 8px 0px lightgrey;
}
.photographers .photographer__description * {
  padding: 3px 0px 3px 0px;
  margin: 0px;
}
.photographers .photographer__description p:nth-child(1) {
  color: #901C1C;
  font-size: 0.9em;
  font-family: "DM Medium";
}
.photographers .photographer__description p:nth-child(2) {
  font-size: 0.7em;
}
.photographers .photographer__description p:nth-child(3) {
  color: #525252;
  font-size: 0.7em;
  font-family: "DM Medium";
}
.photographers .tag-list {
  width: auto;
  justify-content: center;
  margin-top: 5px;
  padding: 0px;
}
.photographers .tag-list .tag--static {
  margin-left: 3px;
  margin-right: 3px;
}

@media (max-width: 1272px) {
  .photographers {
    position: inherit;
    padding: 0px;
  }
  .photographers h1 {
    position: absolute;
    top: 45px;
    right: 20px;
    font-size: 0.8em;
  }

  .cards-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cards-block .cards {
    width: 100%;
  }

  .photographer__button {
    position: fixed;
    bottom: 35px;
    justify-self: center;
    padding: 6px 6px;
    font-size: 1.5em;
  }
}
@media (min-width: 1921px) {
  .photographers h1 {
    font-size: 2.3em;
    position: absolute;
    top: -80px;
    right: 45px;
    margin-top: 0px;
  }
}
.profile--style {
  background-color: #FAFAFA;
  margin-top: 35px;
  padding: 25px 0px 25px 0px;
}
.profile--style .photographer-description {
  margin: 25px;
  display: grid;
  grid-template-columns: 42% 36% 22%;
  row-gap: 0px;
}
.profile--style .photographer-description h1 {
  grid-column: 1;
  grid-row: 1;
  color: #D3573C;
  font-size: 3.5em;
  letter-spacing: 1.3px;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.profile--style .photographer-description p:nth-child(2n) {
  grid-column: 1;
  grid-row: 2;
  color: #901C1C;
  font-size: 1.8em;
  letter-spacing: 1.3px;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.profile--style .photographer-description p:nth-child(2n+1) {
  grid-column: 1;
  grid-row: 3;
  color: #525252;
  font-size: 1.2em;
  margin-top: 10px;
  margin-left: 15px;
  padding-bottom: 10px;
}
.profile--style .photographer-description .photographer__button {
  grid-column: 2;
  grid-row: 1;
}
.profile--style .photographer-description .photographer__photo {
  grid-column: 3;
  grid-row: 1/5;
  align-self: center;
  height: 250px;
  width: 250px;
  border: none;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0px 5px 8px 0px lightgrey;
}
.profile--style .photographer-description .tag-list {
  grid-column: 1;
  grid-row: 4;
  margin-left: 10px;
  width: auto;
  justify-content: left;
  align-self: center;
  padding: 0px;
  margin-top: 0px;
}
.profile--style .photographer-description .tag-list .tag--static {
  font-size: 1.1em;
  font-family: "DM bold";
  margin-left: 3px;
  margin-right: 3px;
  padding: 1px 9px;
}

@media (max-width: 1024px) {
  .profile--style {
    padding: 0px;
    margin: 0px;
  }

  .profile--style .photographer-description,
.photrapher .photographer-description {
    font-size: 0.8em;
    margin: 0px;
    grid-template-columns: 66% 0% 33%;
  }
  .profile--style .photographer-description h1,
.photrapher .photographer-description h1 {
    font-family: "DM regular";
    font-size: 2.4em;
    margin-bottom: 0px;
  }
  .profile--style .photographer-description p:nth-child(2n),
.profile--style .photographer-description p:nth-child(2n+1),
.photrapher .photographer-description p:nth-child(2n),
.photrapher .photographer-description p:nth-child(2n+1) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .profile--style .photographer-description p:nth-child(2n),
.photrapher .photographer-description p:nth-child(2n) {
    font-size: 1.3em;
  }
  .profile--style .photographer-description p:nth-child(2n+1),
.photrapher .photographer-description p:nth-child(2n+1) {
    font-size: 1em;
  }
  .profile--style .photographer-description .photographer__photo,
.photrapher .photographer-description .photographer__photo {
    align-self: flex-start;
    justify-self: center;
    height: 120px;
    width: 120px;
  }
  .profile--style .photographer-description .tag-list .tag--static,
.photrapher .photographer-description .tag-list .tag--static {
    font-family: "DM medium";
    font-size: 1em;
    margin: 1.5px;
    padding: 3px;
  }

  .gallery .grid .grid-card {
    width: 93%;
    font-size: 1em;
  }
  .gallery .grid .grid-card .card__photo {
    height: 200px;
  }
}
@media (min-width: 1921px) {
  .profile--style .photographer-description {
    grid-template-columns: 25% 55% 20%;
  }
  .profile--style .photographer-description .photographer__photo {
    height: 300px;
    width: 300px;
  }
}
/* BASE */
body {
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
}
body * {
  box-sizing: border-box;
  font-family: "DM regular";
  font-size: 1em;
}
body header,
body main {
  max-width: 1300px;
  margin: auto;
}
body a {
  text-decoration: none;
}
body a:visited {
  color: inherit;
}

.sticky-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  right: 10%;
  width: 300px;
  font-size: 1.4em;
  color: black;
  background-color: #DB8876;
  border-radius: 5px 5px 0px 0px;
  padding: 20px 0px 20px 0px;
}
.sticky-label span {
  font-family: "DM medium";
}

@media (max-width: 1024px) {
  .sticky-label {
    display: none;
  }
}
@media (min-width: 1990px) {
  body header,
body main {
    max-width: 1600px;
  }
}
@font-face {
  font-family: "DM regular";
  src: url("./../public/Fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM medium";
  src: url("./../public/Fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM bold";
  src: url("./../public/Fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
