/* UTILS */
/* COLORS */
/* LAYOUTS */
body footer {
  padding: 50px 0px 50px 0px;
  text-align: center;
}
body footer span {
  font-size: 1.23em;
  font-family: "DM bold";
}

@media (max-width: 1025px) {
  body footer {
    padding: 50px 0px 50px 0px;
    text-align: center;
  }
  body footer span {
    font-size: 0.8em;
  }
}
.header {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 25px 0px 25px 0px;
}
.header .header__title {
  width: 25%;
  text-align: left;
  color: #901C1C;
  font-size: 3rem;
}
.header .header__title .title {
  text-decoration: none;
  font-family: "DM bold";
  letter-spacing: 1px;
}
.header .header__title .title:visited {
  color: inherit;
}
.header .photographer--page {
  width: 100%;
  text-align: left;
}

.photographer--page {
  width: 100%;
  text-align: left;
}

.tag-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding-left: 0px;
}
.tag-list .tag--static {
  margin-left: 3px;
  margin-right: 3px;
}

@media (max-width: 1025px) {
  .header {
    width: 100%;
    padding-top: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .header .header__title {
    width: 100%;
    font-size: 2em;
    text-align: left;
  }
  .header .header__navbar {
    padding-top: 20px;
  }
  .header .tag-list {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 6px 0px;
  }
  .header .tag-list .tag--static {
    padding: 1px 4px;
  }
}
@media (min-width: 1981px) {
  .header .header__title {
    font-size: 4em;
  }
}
/* COMPONENTS */
.button--static {
  cursor: pointer;
  width: 170px;
  color: #FAFAFA;
  font-family: "Dm bold";
  font-size: 1.2em;
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
  align-self: center;
  padding: 20px 8px;
}
.button--static:hover,
.button--static :focus, .button--static:focus:not(:active) {
  background-color: #D3573C;
  transition-duration: 0.2s;
  transform: scale(1.05) translate(0%, 0%);
}

.tag--static {
  cursor: pointer;
  color: #901C1C;
  background-color: #FAFAFA;
  border: 0.2px solid lightgrey;
  border-radius: 20px;
  padding: 5px 5px;
  font-size: 0.7em;
  width: auto;
}
.tag--static:hover {
  transition: all 1s;
  color: #FAFAFA;
  background-color: #901C1C;
}

.tag--active {
  color: #FAFAFA;
  background-color: #901C1C;
}

.filter-list {
  cursor: pointer;
  width: 170px;
  color: #FAFAFA;
  font-family: "Dm bold";
  font-size: 1.2em;
  background-color: #901C1C;
  border: none;
  border-radius: 5px;
  padding: 15px;
  appearance: none;
}

.gallery {
  padding: 50px 0px 50px 0px;
}
.gallery > label {
  font-size: 1.1em;
  font-family: "DM bold";
  padding-right: 25px;
}
.gallery .grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
  gap: 10px;
  row-gap: 30px;
}
.gallery .grid .grid-card {
  display: grid;
  color: #901C1C;
  font-size: 1.6em;
  margin-top: 0px;
  line-height: 0px;
}
.gallery .grid .grid-card:hover .card__photo {
  transition: box-shadow 0.5s ease-in;
  box-shadow: 0px 10px 8px 1px #525252;
}
.gallery .grid .grid-card .card__photo {
  grid-column: 1/5;
  grid-row: 1;
  width: 375px;
  height: 350px;
  object-fit: cover;
  border: none;
  border-radius: 5px;
}
.gallery .grid .grid-card .card__title {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  text-align: left;
}
.gallery .grid .grid-card .card__price {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  font-family: "DM medium";
}
.gallery .grid .grid-card .card__likes {
  grid-column: 3;
  grid-row: 2;
  text-align: right;
  font-family: "DM medium";
}
.gallery .grid .grid-card .fa-heart {
  grid-column: 4;
  grid-row: 2;
  align-self: center;
  cursor: pointer;
}

/* MODAL BG */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

/* MODAL CONTENT */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 50%;
  max-width: 50%;
}

/* CLOSE BUTTON */
.close {
  color: #901C1C;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-text-stroke: 6px white;
}

.close:hover,
.close:focus {
  color: #D3573C;
  text-decoration: none;
  cursor: pointer;
}

/* SLIDES */
.mySlides {
  display: none;
  text-align: center;
}
.mySlides img {
  height: 800px;
  width: 800px;
  object-fit: cover;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  line-height: 0px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: #901C1C;
  font-size: 70px;
  transition: 0.6s ease-in;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  -webkit-text-stroke: 3px white;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #D3573C;
  transition-duration: 0.1s;
  transform: scale(1.1) translate(0%, 0%);
}

.modal__caption {
  color: #901C1C;
  font-size: 2em;
  width: 800px;
  margin: auto;
}

@media (max-width: 1025px) {
  .gallery {
    padding: 0px;
  }
  .gallery label,
.gallery select {
    display: none;
  }
  .gallery .grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
  }
  .gallery .grid .grid-card {
    width: 100%;
  }
  .gallery .grid .grid-card .card__photo {
    width: 100%;
    height: 250px;
  }
}
.cards-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards-block .cards {
  width: 33%;
  text-align: center;
  padding-bottom: 30px;
}
.cards-block .cards:hover .photographer__photo {
  transition: box-shadow 0.5s ease-in;
  box-shadow: 0px 6px 9px 0px #525252;
}
.cards-block .cards .photographer {
  background-color: white;
}

.photographers {
  padding: 100px 0px 50px 0px;
}
.photographers h1 {
  color: #901C1C;
  font-size: 2em;
  letter-spacing: 1px;
  position: absolute;
  top: 45px;
  right: 400px;
  margin-top: 0px;
}
.photographers h2 {
  color: #D3573C;
  font-size: 1.8em;
  letter-spacing: 1.3px;
  margin-bottom: 3px;
}
.photographers h3 {
  color: #901C1C;
  font-size: 0.9em;
  font-family: "DM Medium";
}
.photographers h4 {
  color: #525252;
  font-size: 0.7em;
  font-family: "DM Medium";
}
.photographers p {
  font-size: 0.7em;
}
.photographers .photographer__photo {
  cursor: pointer;
  height: 280px;
  width: 280px;
  border: none;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0px 5px 8px 0px lightgrey;
}
.photographers .photographer__description * {
  padding: 3px 0px 3px 0px;
  margin: 0px;
}
.photographers .tag-list {
  width: auto;
  justify-content: center;
  padding: 0px;
}
.photographers .tag-list .tag--static {
  margin-left: 3px;
  margin-right: 3px;
}

@media (max-width: 1025px) {
  .photographers {
    padding: 0px;
  }
  .photographers h1 {
    position: absolute;
    top: 45px;
    right: 20px;
    font-size: 0.8em;
  }

  .cards-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cards-block .cards {
    width: 100%;
  }
}
@media (min-width: 1921px) {
  .photographers {
    margin-left: 100px;
    margin-right: 100px;
  }
  .photographers h1 {
    font-size: 2.3em;
    position: absolute;
    top: 40px;
    right: 500px;
    margin-top: 0px;
  }
}
.profile--style {
  background-color: #FAFAFA;
  margin-top: 35px;
  padding: 25px 0px 25px 0px;
}
.profile--style .photographer-description {
  margin: 25px;
  display: grid;
  grid-template-columns: 36% 43% 21%;
  row-gap: 0px;
}
.profile--style .photographer-description h1 {
  grid-column: 1;
  grid-row: 1;
  color: #D3573C;
  font-size: 3.5em;
  letter-spacing: 1.3px;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 0px;
}
.profile--style .photographer-description h2 {
  grid-column: 1;
  grid-row: 2;
  color: #901C1C;
  font-size: 1.8em;
  letter-spacing: 1.3px;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 3px;
}
.profile--style .photographer-description p {
  color: #525252;
  grid-column: 1;
  grid-row: 3;
  font-size: 1.2em;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 0px;
}
.profile--style .photographer-description .photographer__button {
  grid-column: 2;
  grid-row: 1;
}
.profile--style .photographer-description .photographer__photo {
  grid-column: 3;
  grid-row: 1/5;
  align-self: center;
  height: 250px;
  width: 250px;
  border: none;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0px 5px 8px 0px lightgrey;
}
.profile--style .photographer-description .tag-list {
  grid-column: 1;
  grid-row: 4;
  margin-left: 10px;
  width: auto;
  justify-content: left;
  align-self: center;
  padding: 0px;
  margin-top: 0px;
}
.profile--style .photographer-description .tag-list .tag--static {
  font-size: 1.1em;
  font-family: "DM bold";
  margin-left: 3px;
  margin-right: 3px;
  padding: 1px 9px;
}

@media (min-width: 1921px) {
  .profile--style .photographer-description {
    grid-template-columns: 25% 55% 20%;
  }
  .profile--style .photographer-description .photographer__photo {
    height: 300px;
    width: 300px;
  }
}
/* BASE */
body {
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
}
body * {
  box-sizing: border-box;
  font-family: "DM regular";
  font-size: 1em;
}
body header,
body main {
  max-width: 1200px;
  margin: auto;
}
body a {
  text-decoration: none;
}
body a:visited {
  color: inherit;
}

.sticky-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  right: 10%;
  width: 300px;
  font-size: 1.4em;
  color: black;
  background-color: #DB8876;
  border-radius: 5px 5px 0px 0px;
  padding: 20px 0px 20px 0px;
}
.sticky-label span {
  font-family: "DM medium";
}

@media (min-width: 1990px) {
  body header,
body main {
    max-width: 1600px;
  }
}
@font-face {
  font-family: "DM regular";
  src: url("./../public/Fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM medium";
  src: url("./../public/Fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM bold";
  src: url("./../public/Fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
