.button--static {
    cursor: pointer;
    width: 170px;
    color: $alt-color-bg;
    font-family: "Dm bold";
    font-size: 1.2em;
    background-color: $primary-color-bg;
    border: none;
    border-radius: 5px;
    align-self: center;
    padding: 20px 8px;
    &:hover,
     :focus,
    &:focus:not(:active) {
        background-color: $secondary-color-bg;
        transition-duration: 0.2s;
        transform: scale(1.05) translate(0%, 0%);
    }
}

.tag--static {
    cursor: pointer;
    font-family: "DM medium";
    color: $secondary-color-ft;
    background-color: $alt-color-bg;
    border: 0.2px solid lightgrey;
    border-radius: 20px;
    padding: 5px 5px;
    font-size: 0.8em;
    width: auto;
    &:hover {
        transition: all 1s;
        color: $alt-color-bg;
        background-color: $secondary-color-ft;
    }
}

.tag--active {
    color: $alt-color-bg;
    background-color: $secondary-color-ft;
}

.filter-list {
    cursor: pointer;
    appearance: none;
    width: 170px;
    color: $alt-color-bg;
    font-family: "Dm bold";
    font-size: 1.2em;
    background-color: $primary-color-bg;
    border: none;
    border-radius: 5px;
    padding: 15px;
}

.top {
    display: none;
    position: fixed;
    z-index: 10;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    border: none;
    border-radius: 5px;
    padding: 3px 15px;
    margin-bottom: 0px;
    background-color: $form-color;
    color: black;
    font-size: 1.1em;
    font-family: "Dm bold";
    cursor: pointer;
}

.btn--contact {
    cursor: pointer;
    width: 170px;
    color: $alt-color-bg;
    font-family: "Dm bold";
    font-size: 1.2em;
    background-color: $primary-color-bg;
    border: none;
    border-radius: 5px;
    align-self: center;
    padding: 20px 8px;
}