.button--static {
    cursor: pointer;
    width: 170px;
    color: white;
    font-family: "Dm bold";
    font-size: 1.2em;
    background-color: $primary-color-bg;
    border: none;
    border-radius: 5px;
    align-self: center;
    padding: 20px 8px;
    &:hover,
     :focus,
    &:focus:not(:active) {
        transition-duration: 0.2s;
        transform: scale(1.1) translate(0%, 0%);
    }
}

.tag--static {
    cursor: pointer;
    color: $secondary-color-ft;
    background-color: white;
    border: 0.2px solid lightgrey;
    border-radius: 20px;
    padding: 5px 5px;
    font-size: 0.7em;
    width: auto;
    &:hover {
        transition: all 1s;
        color: white;
        background-color: $secondary-color-ft;
    }
}

.tag--active {
    color: white;
    background-color: $secondary-color-ft;
}

.filter-list {
    cursor: pointer;
    width: 170px;
    color: white;
    font-family: "Dm bold";
    font-size: 1.2em;
    background-color: $primary-color-bg;
    border: none;
    border-radius: 5px;
    padding: 15px;
    appearance: none;
}