.modal-contact {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: $form-color;
    padding: 20px;
    font-size: 1.5em;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    animation-name: modalopen;
    animation-duration: var(0.8s);
    .close--form {
        cursor: pointer;
        position: fixed;
        top: -35px;
        right: 20px;
        font-size: 5.5em;
        color: white;
        -webkit-text-stroke: 3px $form-color;
    }
    & p {
        font-family: "DM medium";
        letter-spacing: 2px;
        font-size: 2.3em;
        color: black;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .formData input,
    .formData textarea {
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 5px;
        resize: vertical;
    }
    form {
        padding-top: 20px;
    }
    label {
        font-size: 1.5em;
        color: #202020;
    }
    .formData textarea {
        margin-bottom: 16px;
    }
    button {
        background-color: $primary-color-bg;
        font-size: 0.8em;
        color: white;
        padding: 20px 40px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    button:hover {
        background-color: #45a049;
    }
    [required] {
        border: 2px dotted $secondary-color-ft;
    }
    .error {
        margin: 0;
        padding: 0;
        font-size: 0.6em;
        color: $secondary-color-ft;
    }
}

@keyframes modalopen {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1025px) {
    .modal-contact {
        height: auto;
        width: 100%;
        p {
            font-family: "DM regular";
            font-size: 1.6em;
        }
        .form__button {
            display: block;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            padding: 10px 60px;
        }
    }
}