.gallery {
    padding: 50px 0px 50px 0px;
    &>label {
        font-size: 1.1em;
        font-family: "DM bold";
        padding-right: 25px;
    }
    .grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        margin-top: 50px;
        gap: 10px;
        row-gap: 30px;
        .grid-card {
            display: grid;
            color: $secondary-color-ft;
            font-size: 1.6em;
            margin-top: 0px;
            line-height: 0px;
            grid-template-columns: 66% 11% 18% 5%;
            &:hover {
                .card__photo {
                    transition: box-shadow 0.5s ease-in;
                    box-shadow: 0px 10px 8px 1px $alt-color-ft;
                }
            }
            .card__photo {
                grid-column: 1/5;
                grid-row: 1;
                width: 375px;
                height: 350px;
                object-fit: cover;
                border: none;
                border-radius: 5px;
            }
            .card__title {
                grid-column: 1;
                grid-row: 2;
                align-self: center;
                text-align: left;
            }
            .card__price {
                grid-column: 2;
                grid-row: 2;
                text-align: center;
                font-family: "DM medium";
            }
            .card__likes {
                grid-column: 3;
                grid-row: 2;
                text-align: right;
                font-family: "DM medium";
            }
            .fa-heart {
                color: $secondary-color-ft;
                background-color: white;
                grid-column: 4;
                grid-row: 2;
                align-self: center;
                cursor: pointer;
                border: 0px;
                padding: 0px;
                text-align: right;
            }
        }
    }
}


/* MODAL BG */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $color-bg;
    /* MODAL CONTENT */
    & .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 50%;
        max-width: 50%;
        /* CLOSE BUTTON */
        & .close {
            color: $secondary-color-ft;
            position: absolute;
            top: 0;
            right: 0;
            -webkit-text-stroke: 6px $color-bg;
        }
        & .close:hover,
        & .close:focus {
            color: $primary-color-ft;
            text-decoration: none;
            cursor: pointer;
        }
        /* SLIDES */
        & .mySlides {
            display: none;
            text-align: center;
            & img {
                height: 800px;
                width: 800px;
                object-fit: cover;
            }
        }
        .cursor {
            cursor: pointer;
        }
        /* NEXT & PREV ARROWS */
        .prev,
        .next {
            line-height: 0px;
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            color: $secondary-color-ft;
            font-size: 70px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
            -webkit-text-stroke: 3px $color-bg;
        }
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        /* ARROW HOVER */
        .prev:hover,
        .next:hover {
            color: $primary-color-ft;
            transition-duration: 0.1s;
            transform: scale(1.1) translate(0%, 0%);
        }
        /* PHOTO TITLE */
        .modal__caption {
            color: $secondary-color-ft;
            font-size: 2em;
            width: 800px;
            margin: auto;
        }
    }
}

@media (max-width: 1072px) {
    .gallery {
        padding: 0px;
        & label,
        select {
            display: none;
        }
        .grid {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0px;
            .grid-card {
                width: 100%;
                .card__photo {
                    width: 100%;
                    height: 250px;
                }
            }
        }
    }
}