.lightbox__photo img,
.lightbox__photo video {
    object-fit: cover;
    height: 700px;
    width: 700px;
}

.modal-lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
}

.lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    & .lightbox__caption {
        color: $secondary-color-ft;
        font-size: 2em;
        margin: 0px;
    }
}


/* The Close Button */

.close {
    color: $secondary-color-ft;
    position: absolute;
    top: -40px;
    right: -70px;
    font-size: 6em;
    font-weight: bold;
    -webkit-text-stroke: 3px white;
}

.close:hover,
.close:focus {
    color: $primary-color-ft;
    text-decoration: none;
    cursor: pointer;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: -50px;
    color: $secondary-color-ft;
    font-size: 4em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-text-stroke: 2px white;
    &:hover {
        color: $primary-color-ft
    }
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}