body {
    background-color: $color-bg;
    overflow-x: hidden;
    overflow-y: auto;
    * {
        box-sizing: border-box;
        font-family: "DM regular";
        font-size: 1em;
    }
    header,
    main {
        max-width: 1300px;
        margin: auto;
    }
    a {
        text-decoration: none;
        &:visited {
            color: inherit;
        }
    }
}

.sticky-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    right: 10%;
    width: 300px;
    font-size: 1.4em;
    color: black;
    background-color: #DB8876;
    border-radius: 5px 5px 0px 0px;
    padding: 20px 0px 20px 0px;
    & span {
        font-family: "DM medium";
    }
}

@media (min-width: 1990px) {
    body {
        header,
        main {
            max-width: 1600px;
        }
    }
}