@font-face {
    font-family: "DM regular";
    src: url("./../public/Fonts/DMSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DM medium";
    src: url("./../public/Fonts/DMSans-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DM bold";
    src: url("./../public/Fonts/DMSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}